<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
	<context-param>
		<param-name>DBdriver</param-name>
		<param-value>org.gjt.mm.mysql.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>DBuser</param-name>
		<param-value>shib</param-value>
	</context-param>
	<context-param>
		<param-name>DBpass</param-name>
		<param-value>shib</param-value>
	</context-param>
	<context-param>
		<param-name>DBdomain</param-name>
		<param-value>shib2.internet2.edu</param-value>
	</context-param>
	<context-param>
	        <param-name>repository</param-name>
		<param-value>MEMORY</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Logging Service</servlet-name>
		<servlet-class>edu.internet2.middleware.shibboleth.log.LogServ</servlet-class>
		<init-param>
			<param-name>log4jConfigFileLocation</param-name>
			<param-value>/WEB-INF/conf/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>HS</servlet-name>
		<display-name>Shibboleth Handle Service</display-name>
		<servlet-class>edu.internet2.middleware.shibboleth.hs.HandleServlet</servlet-class>
		<init-param>
			<param-name>domain</param-name>
			<param-value>example.edu</param-value>
		</init-param>
		<init-param>
		        <param-name>HSname</param-name>
			<param-value>shib2.internet2.edu</param-value>
		</init-param>
		<init-param>
		        <param-name>ticket</param-name>
			<param-value>1400000</param-value>
		</init-param>
		<init-param>
		          <param-name>AAurl</param-name>
		          <param-value>https://shib2.internet2.edu/shibboleth-origin/servlet/AA</param-value>
		</init-param>
		<init-param>
			<param-name>KSpath</param-name>
			<param-value>/WEB-INF/conf/keystore.jks</param-value>
		</init-param>
		<init-param>
			<param-name>KSpass</param-name>
			<param-value>shibhs</param-value>
		</init-param>
		<init-param>
			<param-name>KSkeyalias</param-name>
			<param-value>shibhs</param-value>
		</init-param>
		<init-param>
			<param-name>KSkeypass</param-name>
			<param-value>shibhs</param-value>
		</init-param>
		<init-param>
			<param-name>certalias</param-name>
			<param-value>shibhs</param-value>
		</init-param>
                <init-param>
                        <param-name>username</param-name>
                        <param-value>REMOTE_USER</param-value>
                </init-param>
	</servlet>
	<servlet>
		<servlet-name>AA</servlet-name>
		<display-name>Shibboleth Attribute Authority</display-name>
		<servlet-class>edu.internet2.middleware.shibboleth.aa.AAServlet</servlet-class>
		
		<init-param>
		    <param-name>domain</param-name>
		    <param-value>shib2.internet2.edu</param-value>
		</init-param>

		<init-param>
		    <param-name>dirUrl</param-name>
		    <param-value>ldap://shib2.internet2.edu/ou=People,dc=internet2,dc=edu</param-value>
		</init-param>

		<init-param>
		    <param-name>ldapUserDnPhrase</param-name>
		    <param-value>uid=</param-value>
		</init-param>

		<init-param>
		    <param-name>ctxFactoryClass</param-name>
		    <param-value>edu.internet2.middleware.shibboleth.aaLocal.EchoCtxFactory</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>WAYF</servlet-name>
		<display-name>Shibboleth WAYF Service</display-name>
		<servlet-class>edu.internet2.middleware.shibboleth.wayf.WayfService</servlet-class>
                <init-param>
                    <param-name>SiteConfigFileLocation</param-name>
                    <param-value>/sites.xml</param-value>
                </init-param>
	</servlet>
	<servlet>
		<servlet-name>WAYFTester</servlet-name>
		<display-name>Simple servlet for testing WAYF functionality</display-name>
		<servlet-class>edu.internet2.middleware.shibboleth.wayf.WayfTester</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SHIRE</servlet-name>
		<display-name>Shibboleth SHIRE Component</display-name>
		<servlet-class>edu.internet2.middleware.shibboleth.shire.ShireServlet</servlet-class>
	<init-param>
		<param-name>cookie-name</param-name>
		<param-value>shib_shib1</param-value>
	</init-param>
	<init-param>
		<param-name>session-dir</param-name>
		<param-value>/tmp/shiresessions</param-value>
	</init-param>
	<init-param>
		<param-name>ssl-only</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
		<param-name>check-address</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
		<param-name>verbose</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
		<param-name>keystore-path</param-name>
		<param-value>/WEB-INF/conf/roots.jks</param-value>
	</init-param>
	<init-param>
		<param-name>keystore-alias</param-name>
		<param-value>internet2</param-value>
	</init-param>
	<init-param>
		<param-name>keystore-password</param-name>
		<param-value>shibboleth</param-value>
	</init-param>
	<init-param>
		<param-name>registry-uri</param-name>
		<param-value>http://shib1.internet2.edu:8000/shibboleth-target/sites.xml</param-value>
	</init-param>
	</servlet>
	
     <servlet-mapping>
		<servlet-name>WAYF</servlet-name>
		<url-pattern>/WAYF</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WAYFTester</servlet-name>
		<url-pattern>/WAYFTester</url-pattern>
	</servlet-mapping>  
     <servlet-mapping>
		<servlet-name>HS</servlet-name>
		<url-pattern>/HS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AA</servlet-name>
		<url-pattern>/AA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SHIRE</servlet-name>
		<url-pattern>/SHIRE</url-pattern>
	</servlet-mapping>
	
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
</web-app>
