<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="edu.internet2.middleware.shibboleth" level="DEBUG"/>

    <logger name="org.opensaml" level="WARN"/>

    <!--
        <logger name="PROTOCOL_MESSAGE" level="DEBUG" />
    -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{HH:mm:ss.SSS} - %level [%logger:%line] - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
